[class^=Portfolio-0], [class^=Portfolio-0] .theme--1, [class^=Portfolio-0] .theme--2 {
  background-color: #434e66;
  color: white;
  transition: background-color 0.2, color 0.2s;
}

.Portfolio-01, .Portfolio-01 .theme--1, .Portfolio-01 .theme--2 {
  background-color: #1E062A;
  color: white;
  transition: background-color 0.2, color 0.2s;
}

.Portfolio-02, .Portfolio-02 .theme--1, .Portfolio-02 .theme--2 {
  background-color: #2478cc;
  color: white;
  transition: background-color 0.2, color 0.2s;
}

.Portfolio-03, .Portfolio-03 .theme--1, .Portfolio-03 .theme--2 {
  background-color: #8c34a3;
  color: white;
  transition: background-color 0.2, color 0.2s;
}

.Portfolio-04, .Portfolio-04 .theme--1, .Portfolio-04 .theme--2 {
  background-color: #bbb6b6;
  color: black;
  transition: background-color 0.2, color 0.2s;
}

.Portfolio-05, .Portfolio-05 .theme--1, .Portfolio-05 .theme--2 {
  background-color: #434e66;
  color: white;
  transition: background-color 0.2, color 0.2s;
}

.headerProject, .sectionContent {
  position: relative;
  opacity: 1;
}

.projectDetail .absolute {
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.projectDetail {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.projectDetail h1, .projectDetail h2, .projectDetail h3 {
  text-align: center;
}
.projectDetail h1, .projectDetail h2 {
  text-decoration: underline #2cfafa solid;
}
.projectDetail div img {
  width: 100%;
}

.DamageControl {
  padding: 4rem;
  background-color: #532768;
  color: white;
}
.DamageControl .title--section {
  text-decoration: underline #2cfafa solid;
}
.DamageControl .link {
  color: #FFFFFF;
  text-decoration-color: #2cfafa;
}

.Tuiphone {
  padding: 4rem;
  background-color: #053769;
  color: white;
}
.Tuiphone .link {
  color: #FFFFFF;
  text-decoration-color: #2cfafa;
}

.Cines_de_Venezuela {
  padding: 4rem;
  background-color: #280340;
  color: white;
}
.Cines_de_Venezuela .title--section {
  text-decoration: underline #2c93fb solid;
}
.Cines_de_Venezuela .link {
  color: #FFFFFF;
}
.Cines_de_Venezuela h1, .Cines_de_Venezuela h2 {
  text-decoration: underline #2c93fb solid;
}

.DamageControl_-_Desk {
  padding: 4rem;
}
.DamageControl_-_Desk .headerProject .imgProject {
  width: 100%;
  display: flex;
  justify-content: center;
}
.DamageControl_-_Desk .headerProject .imgProject img {
  width: 60%;
}
.DamageControl_-_Desk .title--section {
  text-decoration: underline rgba(0, 0, 0, 0.25) solid;
}
.DamageControl_-_Desk h1, .DamageControl_-_Desk h2 {
  text-decoration: underline rgba(0, 0, 0, 0.25) solid;
}

.Data_exploration_and_projection {
  padding: 4rem;
  background-color: #637395;
  color: white;
}
.Data_exploration_and_projection .verticalContainer {
  display: flex;
  justify-items: center;
}
.Data_exploration_and_projection .verticalContainer img {
  width: 45%;
  margin: 0 auto;
}
.Data_exploration_and_projection .sectionContent--generate .horizontal {
  width: 50%;
}

@media (min-width: 900px) {
  .DamageControl_-_Desk .headerProject .imgProject img {
    width: 40%;
  }
}
@media (max-width: 665px) {
  .projectDetail .svg-header {
    object-fit: cover;
  }
}
@media (max-width: 900px) {
  .Data_exploration_and_projection .sectionContent--generate .horizontal {
    width: 80%;
  }
  .projectDetail .absolute {
    height: 525px;
  }
}

/*# sourceMappingURL=Project.css.map */
