.colorList
    display: flex
    flex-direction: column
    margin: 2rem
    flex-wrap: wrap
    background-color: #ffff
    border: 1px solid black
    .colorList__element
        width: 150px
        height: 150px
        margin: 2rem
        border: 1px solid black
    .colorList__name
        color: black
        text-align: center
        font-weight: bold
.interface 
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    .vertical
        width: 40%
        img
            width: 100%


.DamageControl
    padding: 4rem
    background-color: #532768
    color: #ffff
    .sectionContent
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
        align-items: center
    .userType
        width: 50%
        display: flex
        flex-direction: row
        margin: 0
        justify-content: center
        align-items: center
        .userType__img
            width: 25%
            padding-right: 5%
        .userType__paragraph
            align-self: baseline
            text-align: justify
            width: 65%
.projectDetail
    width: 100%
    display: flex
    flex-direction: column
    h1,h2,h3
        text-align: center
        margin: 3rem
    h1,h2
        border-bottom: 4px solid #2CFAFA
    div img
        width:100%
    